src/main/app/update-plan.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">

    <flow name="updatePlanStatus" processingStrategy="synchronous">
        <logger message="flow=updatePlanStatus action=started messageId=#[message.id] projectId=#[flowVars.projectId]" level="INFO" category="com.acme.logging.plan" doc:name="Logger"/>

        <dw:transform-message doc:name="Transform Message" metadata:id="50a69c4e-dacb-46f1-b0f0-bbaae64649fd">
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
//Some example DW Transform
{
}
]]></dw:set-payload>
        </dw:transform-message>

        <http:request config-ref="Request_Configuration" path="/some/path" method="POST" doc:name="Update Plan">
            <http:request-builder>
                <http:header headerName="User-Agent" value="UserAgentName 0.1 (Project Name)"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
